[Unit]
Description=myobcoin Full Node
After=network.target

[Service]
User=myobcoin
Group=myobcoin
WorkingDirectory=~
RuntimeDirectory=myobcoin

Type=forking
PIDFile=/run/myobcoin/myobcoind.pid

ExecStart=/usr/bin/myobcoind --config-file /etc/myobcoind.conf \
    --detach --pidfile /run/myobcoin/myobcoind.pid

[Install]
WantedBy=multi-user.target
